.product_card{
    width: 175px;
    overflow: hidden;
    height: 225px;
    padding: 5px;
    box-shadow: 0 0 15px #ddd;
    margin: 5px 0;
    position: relative;
    transition: all 0.5s;
    border-radius: 5px;
}
.product_card:hover {
    box-shadow: rgba(6, 24, 44, 0.4) 0 0 0 2px, rgba(6, 24, 44, 0.65) 0 4px 6px -1px, rgba(255, 255, 255, 0.08) 0 1px 0 inset;
}

.product_card img{
    /*min-width: 100%;*/
    width: 100%;
    height: 150px;
    /*display: block;*/
    /*object-fit: cover;*/
    margin: auto;
    display: block;
    border-radius: 5px;
}

.product_card span{
    color: #026666;
}
.product_box {
    width: 100%;
    height: 40px;
    /*justify-content: space-between;*/
    /*align-items: center;*/
}
.row_btn{
    width: 100%;
    /*margin-top: 10px;*/
    display: flex;
    justify-content: space-between;

}
.row_btn a{
    width: 50%;
    text-align: center;
    /*text-transform: uppercase;*/
    color: white;
    /*font-weight: 400;*/
    font-size: 10px;
    letter-spacing: 2px;
    padding: 6px;
}
#btn_buy{
    background: #555;
    margin-right: 5px;
    border-radius: 10px;
}
#btn_buy:hover{
    background: rgba(0,0,0,0);
    color: #3a7999;
    box-shadow: inset 0 0 0 3px #3a7999;
}
#btn_view{
    background: teal;
    margin-left: 5px;
    border-radius: 10px;
}
#btn_view:hover{
    background: rgba(0,0,0,0);
    color: #3a7999;
    box-shadow: inset 0 0 0 3px #3a7999;
}
.product_card input{
    position: absolute;
    width: 25px;
    height: 25px;
}